
PORT=3000

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_REGION=us-east-1
AWS_S3_BUCKET=amzn-s3-ai-file-reader
AWS_S3_PRESIGN_EXPIRES_SECONDS=300

AWS_DYNAMODB_TABLE_NAME=amzn-s3-ai-file-reader-table

INTERNAL_PIPELINE_SECRET=secret-key

OPENAI_API_KEY=api-key
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

PINECONE_API_KEY=api-key
PINECONE_INDEX_NAME=index-name